.showcase-body {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

.card-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;
    flex-wrap: wrap;
}

.card-image {
    width: fit-content;
}